<div id="usda_ars_it">
  <h3>Installing R/RStudio - USDA-ARS IT</h3>
  <p>
    Installation of programs on government computers require administrative access to install. Thus do not try to run the installers below yourself, you need administrative access.
  </p>

        <ol>
          <li>Please download R version 4.4.1 and RStudio to the device you will use for the workshop. Both can be downloaded from <a href="https://posit.co/download/rstudio-desktop/">
    RStudio Desktop - Posit</a>. 
          <li>Open a Remedy Ticket and follow the steps below:
            <ol>
              <li>
                Connect to VPN.
              </li>
              <li>
                  Go to Axon+ - Type https://usdagcc.sharepoint.com/sites/ARS-Axon into your browser.
              </li>
              <li>
                Click on Application Launchpad > CEC Digital Workplace. 
              </li>
              <li>
                Click on ARS Field Support Bundle
              </li>
 	      <li>
	      Click on Request Now.
	      </li>
              <li>
		Choose Outage/Issue (NOT Request Installation).
	      </li>
              <li>
                Choose Hardware or Software and Applications.
              </li>
              <li>
                   Enter your computer name (Search Name on your taskbar, or Apple search feature).
              </li>
              <li>
		Supervisor should auto populate, if not, type it in.
              </li>
              <li>
		Click Submit Request.
              </li>
            </ol>
          </li>
          <li>
            IT will contact you to schedule a time for them to remotely install the software on your device.
            <ol>
              
